

/*--------------------------------------------------------------
    Pagination
--------------------------------------------------------------*/

    .pagination { float: none; display: inline-block; margin-top: 35px; text-align: center; width: 100%; }
    .pagination .column { float: right; width: 100%; }
    .pagination .column, .pagination ul { margin: 0; }

    .pagination ul, .entry-body > .page-link { padding-left: 0; display: flex; justify-content: center; text-align: center; flex-wrap: wrap; }
    .pagination ul li, .woocommerce nav.woocommerce-pagination ul li { display: inline-block; float: none; padding-bottom: 0; display: contents; }

    .page-link {  clear: both; float: left; width: 100%; }

    .page-link a, .pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li a,
    .page-link > span, .pagination ul li span,
    .woocommerce nav.woocommerce-pagination ul li span { background: none; border: 1px solid; display: inline-block; font-size: var(--wdtFontSize_Ext); font-weight: 600; height: 50px; letter-spacing: 0px; line-height: 50px; margin: 10px 14px 0 0; padding: 0; position: relative; text-align: center; text-transform: uppercase; width: 50px; -webkit-border-radius: 50%; border-radius: 50%; }

    .page-link a:not(:focus), .pagination ul li a:not(:focus), .woocommerce nav.woocommerce-pagination ul li a:not(:focus) { text-decoration: none; }

    .woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li { border-width: 0; }
    .woocommerce nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a { background: none; }

    @media all and (-ms-high-contrast:none) {

        .pagination ul li a.next { margin-right: 0; }
        .pagination ul li a.next, .pagination ul li a.prev { top: -24px; } /* IE10 */
        *::-ms-backdrop, .pagination ul li a.next, .pagination ul li a.prev { top: -24px; } /* IE11 */

    }

    .woocommerce-pagination ul li a.next i, .woocommerce-pagination ul li a.prev i{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .pagination ul li a.next i, .pagination ul li a.prev i,
    .pagination ul li a.next i, .pagination ul li a.prev i { font-size: calc(var(--wdtFontSize_Base) - 2px); height: 18px; line-height: 20px; margin: 0; position: absolute; left: 50%; top: 53%; text-align: center; text-decoration: inherit; width: 30px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

    .woocommerce-pagination ul li a .wdticon-angle-double-right:before, .woocommerce-pagination ul li a .wdticon-angle-double-left:before,
    .pagination ul li a .wdticon-angle-double-right:before, .pagination ul li a .wdticon-angle-double-left:before {
        content: '';
        background: currentColor;
        width: 18px;
        height: 18px;
        /* -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_3_' x='0.5' y='1.2' width='19' height='17.5'/%3E%3C/defs%3E%3CclipPath id='SVGID_1_'%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg id='Group_26' class='st0'%3E%3Cpath id='Path_20044' d='M0.5,10c0,0.6,0.5,1.1,1.1,1.1h14.1L10,16.8c-0.4,0.4-0.4,1.1,0,1.6c0.4,0.4,1.1,0.4,1.6,0l7.6-7.6 c0.1-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0-0.1,0-0.3,0-0.4c0,0,0-0.1,0-0.1 c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0-0.1,0-0.1c0-0.1-0.1-0.1-0.1-0.2l-7.6-7.6c-0.4-0.4-1.2-0.4-1.6,0C9.5,2,9.5,2.7,10,3.2 l5.7,5.7H1.6C1,8.9,0.5,9.4,0.5,10C0.5,10,0.5,10,0.5,10'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_3_' x='0.5' y='1.2' width='19' height='17.5'/%3E%3C/defs%3E%3CclipPath id='SVGID_1_'%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg id='Group_26' class='st0'%3E%3Cpath id='Path_20044' d='M0.5,10c0,0.6,0.5,1.1,1.1,1.1h14.1L10,16.8c-0.4,0.4-0.4,1.1,0,1.6c0.4,0.4,1.1,0.4,1.6,0l7.6-7.6 c0.1-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0-0.1,0-0.3,0-0.4c0,0,0-0.1,0-0.1 c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0-0.1,0-0.1c0-0.1-0.1-0.1-0.1-0.2l-7.6-7.6c-0.4-0.4-1.2-0.4-1.6,0C9.5,2,9.5,2.7,10,3.2 l5.7,5.7H1.6C1,8.9,0.5,9.4,0.5,10C0.5,10,0.5,10,0.5,10'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); */
        -webkit-mask-position: center;
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100%;
        mask-repeat: no-repeat;
        margin: 0;
    }
    .woocommerce-pagination ul li a .wdticon-angle-double-left:before,
    .pagination ul li a .wdticon-angle-double-left:before {
        transform: rotate(180deg);
    }

    .pagination div[class*="-posts"] { display: inline-block; float: none; position: relative; text-align: center; width: auto; z-index: 9; }
    .pagination div[class*="-posts"] a { display: inline-block; float: none; margin: 2px; min-width: 150px; -webkit-border-radius: var(--wdtRadius_3X); border-radius: var(--wdtRadius_3X); }

    .pagination:empty { display: none; }
    .archive .pagination.blog-pagination:empty { display: inline-block; }

    .pagination .newer-posts a { margin-bottom: -1px; padding: var(--wdtPadding_Btn); }
    .pagination .older-posts a { margin-bottom: -1px; padding: var(--wdtPadding_Btn); }
    .pagination .older-posts i, .pagination .newer-posts i { height: 20px; line-height: 20px; text-align: center; width: auto; }
    .pagination .older-posts i { margin-left: 5px; }
    .pagination .newer-posts i { margin-right: 5px; }
    .pagination .older-posts i:before, .pagination .newer-posts i:before { margin: 0; width: auto; }
    .pagination div[class*="-posts"]:only-child a { margin: 0; }

    .pagination a.loadmore-btn { display: inline-block; /*height: 35px; line-height: 35px; padding: 0 20px;*/ position: relative; width: auto; margin-top: 10px; }
    .pagination a.loadmore-btn:not(.more-items) { cursor: not-allowed; }
    /* .pagination a.loadmore-btn:before { border: 1px solid; bottom: -5px; content: ''; display: block; left: -5px; margin: auto; position: absolute; right: -5px; top: -5px; } */

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:after { animation: animateCircle 2s linear infinite; border: 3px solid transparent; border-radius: 50%; border-right: 3px solid #fff; border-top: 3px solid #fff; bottom: 0; content: ''; display: block; height: 25px; left: 0; margin: auto; opacity: .5; position: absolute; right: 0; top: 0; width: 25px; }

    @keyframes animateCircle {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes animate {
        0% { transform: rotate(45deg); }
        100% { transform: rotate(405deg); }
    }

    .pagination .newer-posts a:not(:focus), .pagination .older-posts a:not(:focus), .pagination ul li a:not(:focus), .pagination a.loadmore-btn:not(:focus) { text-decoration: none; }
    .pagination .newer-posts a:focus, .pagination .older-posts a:focus, .pagination ul li a:focus, .pagination a.loadmore-btn:focus { text-decoration: none !important; }


/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

    .page-link a, .pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li a,
    .page-link > span, .pagination ul li span,
    .woocommerce nav.woocommerce-pagination ul li span { color: var(--wdtHeadAltColor); }

    .pagination .newer-posts a, .pagination .older-posts a, .pagination a.loadmore-btn,
    .page-link > a:hover, .page-link > span,
    .pagination ul li a:hover, .pagination ul li span:not(.dots),
    
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { color: var(--wdtAccentTxtColor); }

    .pagination .newer-posts, .pagination .older-posts { background: var(--wdtBodyBGColor); }

    .page-link a, .pagination ul li a,
    .page-link > span, .pagination ul li span,
    .pagination a.loadmore-btn:before,
    .woocommerce nav.woocommerce-pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li span { border-color: var(--wdtBorderColor); }

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:after { border-top-color: var(--wdtBodyBGColor); border-right-color: var(--wdtBodyBGColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
    .tpl-blog-holder.loading + .pagination a.loadmore-btn { color: var(--wdtPrimaryColor); }

    .pagination .newer-posts a, .pagination .older-posts a, .pagination a.loadmore-btn,
    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current


    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { border-color: var(--wdtPrimaryColor); }

    .pagination .newer-posts a:hover, .pagination .older-posts a:hover, .pagination a.loadmore-btn:hover, .pagination a.loadmore-btn:not(.more-items) { background: var(--wdtSecondaryColor); }

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:hover { color: var(--wdtSecondaryColor); }

    /* ========== Custom Css ========== */

    .page-link span, .pagination ul li span, .woocommerce nav.woocommerce-pagination ul li span { border-color: transparent !important; }

    .page-link a:after, .pagination ul li a:after, .woocommerce nav.woocommerce-pagination ul li a:after, .page-link > span:after, .pagination ul li span:after, .woocommerce nav.woocommerce-pagination ul li span:after{
        position: absolute;
        content: '';
        background: var(--wdtPrimaryColor);
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0);
        transition: 0.3s cubic-bezier(.65,.05,.36,1);
        -webkit-transition: 0.3s cubic-bezier(.65,.05,.36,1);
    }

    .page-link a:hover:after, .pagination ul li a:hover:after, .woocommerce nav.woocommerce-pagination ul li a:hover:after{ transform: scale(1); }

    .page-link > span:after, .pagination ul li span:after, .woocommerce nav.woocommerce-pagination ul li span:after{ transform: scale(1); }

    .pagination ul li span.page-numbers.dots { color: var(--wdtAccentTxtColor); }


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    /*----*****---- << Tablet (Portrait) >> ----*****----*/

    /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:1024px) {


    }

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {

    .pagination ul li a, .pagination ul li span, .page-link a, .page-link > span, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span { font-size: calc(var(--wdtFontSize_Base) - 3px); font-weight: 600; height: 40px; line-height: 40px; width: 40px; }

    .woocommerce-pagination ul li a .wdticon-angle-double-right:before, .woocommerce-pagination ul li a .wdticon-angle-double-left:before, .pagination ul li a .wdticon-angle-double-right:before, .pagination ul li a .wdticon-angle-double-left:before { width: 14px; height: 14px; }

    .pagination ul li a.next i, .pagination ul li a.prev i,
    .woocommerce .product-loop-sorting nav.woocommerce-pagination ul li i { font-size: calc(var(--wdtFontSize_Base) - 3px); }

}