/* Variables */

:root {

    /* Radius Variables */
    --wdtRadius_Zero: 0;
    --wdtRadius_Part: 2.5em;
    --wdtRadius_Full: 50%;

    --wdtRadius_1X: 3px;
    --wdtRadius_2X: 5px;
    --wdtRadius_3X: 10px;

    /* letter Spacing */

    --wdtLetterSpacing_1X: 0.4px;
    --wdtLetterSpacing_2X: 1px;
    --wdtLetterSpacing_3X: 1.5px;

    /* Padding Variables */
    --wdtInputPadding: 12px 20px;

    --wdtPadding_Btn: 16px 35px;
    --wdtPadding_MiniBtn: 12px 20px;
    --wdtPadding_MaxiBtn: 18px 40px;


    --wdtBaseTransition: all 0.3s linear;
    --wdtAltTransition: all 0.35s ease-in-out;

}

/* Typography - Defaults */

    /* Base */
    body, button, input, textarea, select, optgroup { font-family: var(--wdtFontTypo_Base); font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base); letter-spacing: 0; line-height: var(--wdtLineHeight_Base); text-transform: none; }

    input[type="submit"], input[type="reset"], input[type="button"], button[type="button"], [role="button"], button, .button, a.button, .wdt-button, .elementor-button.wdt-elementor-button, .yith-wcwl-add-to-wishlist a, .yith-wcqv-button, .wdt-wcsg-button { line-height: var(--wdtLineHeight_Alt); }


    /* Headings */
    h1 { font-size: var(--wdtFontSize_H1); }
    h2 { font-size: var(--wdtFontSize_H2); }
    h3 { font-size: var(--wdtFontSize_H3); }
    h4 { font-size: var(--wdtFontSize_H4); }
    h5 { font-size: var(--wdtFontSize_H5); }
    h6 { font-size: var(--wdtFontSize_H6); }

    h1, h2, h3, h4, h5, h6 { font-family: var(--wdtFontTypo_Alt); font-weight: var(--wdtFontWeight_Alt); letter-spacing: 0; line-height: var(--wdtLineHeight_Alt); text-transform: none; margin-bottom: 0.75rem; }


    /* Menu */
    .wdt-header-menu li a { font-family: var(--wdtFontTypo_Base); font-weight: var(--wdtFontWeight_Base); text-transform: capitalize; }
    .wdt-header-menu ul li ul li>a { font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base); }


    /* Breadcrumb */
    .main-title-section h1 { font-family: var(--wdtFontTypo_Alt); }
    .breadcrumb { font-family: var(--wdtFontTypo_Base); }
    .main-title-section-wrapper>.main-title-section-bg:after { background-color: rgba(var(--wdtTertiaryColorRgb), 0.85); }


    /* Footer */
    div.footer-widgets .widgettitle, #footer .widgettitle { font-family: var(--wdtFontTypo_Alt); }
    #footer, .footer-copyright, div.footer-widgets .widget { font-family: var(--wdtFontTypo_Base); }



/* Base Colors - Defaults */

    body, .layout-boxed .inner-wrapper { background-color: var(--wdtBodyBGColor); }


    /* Base */
    body { color: var(--wdtBodyTxtColor); }


    /* Links */
    a { color: var(--wdtLinkColor); }
    a:hover { color: var(--wdtLinkHoverColor); }


    /* Headings */
    h1, h2, h3, h4, h5, h6 { color: var(--wdtHeadAltColor); }

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: var(--wdtLinkHoverColor); }


    /* Menu */
    .no-header-menu ul li a, .wdt-header-menu .wdt-primary-nav li a { color: var(--wdtAccentTxtColor); display: flex; flex-direction: column; line-height: var(--wdtLineHeight_Base); }

    .wdt-header-menu .wdt-primary-nav li a .menu-custom-label {
        font-size: clamp(0.75rem, 0.2434rem + 0.5263vw, 0.875rem);
        text-transform: capitalize;
    }

        /*--------------------------------------------------------------
        Heading Size - Default-Value
    --------------------------------------------------------------*/

    .elementor-widget-text-editor .elementor-widget-container h1, div h1,
    .wdt-heading-holder h1.wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(3rem, 2.8269rem + 0.7692vw, 3.75rem); /* Min-48 & Max-60 */  }
    .elementor-widget-text-editor .elementor-widget-container h2, div h2,
    .wdt-heading-holder h2.wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.875rem, 1.7357rem + 0.6369vw, 2.5rem); /* Min-30 & Max-40 */  }
    .elementor-widget-text-editor .elementor-widget-container h3, div h3,
    .wdt-heading-holder h3.wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.75rem, 1.6346rem + 0.5128vw, 2.25rem); /* Min-28 & Max-36 */  }
    .elementor-widget-text-editor .elementor-widget-container h4, div h4,
    .wdt-heading-holder h4.wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.375rem, 1.2885rem + 0.3846vw, 1.75rem); /* Min-22 & Max-28 */ }
    .elementor-widget-text-editor .elementor-widget-container h5, div h5,
    .wdt-heading-holder h5.wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.125rem, 1.0419rem + 0.2776vw, 1.375rem); /* Min-18 & Max-22 */ }
    .elementor-widget-text-editor .elementor-widget-container h6, div h6,
    .wdt-heading-holder h6.wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem); /* Min-16 & Max-18 */ }


    /* Footer */
    .wdt-no-footer-builder-content.footer-copyright:before, .footer-copyright:before { background-color: var(--wdtTertiaryColor); }

    #footer .widgettitle, div.footer-widgets .widgettitle { color: var(--wdtHeadAltColor); }

    #footer, div.footer-widgets .widget, .footer-copyright { color: var(--wdtBodyTxtColor); }

    #footer a:not(.button):not(.elementor-button), .footer-widgets a:not(.button):not(.elementor-button) { color: var(--wdtAccentTxtColor); }

    #footer a:not(.button):not(.elementor-button):hover, .footer-widgets a:not(.button):not(.elementor-button):hover { color: var(--wdtLinkHoverColor); }

    #footer .wdt-dark-bg a, #footer .wdt-dark-bg .footer-widgets a:not(.button):not(.elementor-button), #footer .wdt-dark-bg a:not(.button):not(.elementor-button) { color: var(--wdtAccentTxtColor); }

    #footer .wdt-dark-bg a:hover, #footer .wdt-dark-bg .footer-widgets a:not(.button):not(.elementor-button):hover, #footer .wdt-dark-bg a:not(.button):not(.elementor-button):hover { color: var(--wdtSecondaryColor); }