/*--------------------------------------------------------------
    Title & Breadcrumb
--------------------------------------------------------------*/

.main-title-section-wrapper {
  clear: both;
  float: left;
  margin: 0;
  width: 100%;
}

#header-wrapper .main-title-section-wrapper {
  position: relative;
}

#header-wrapper.header-top-absolute .main-title-section-wrapper {
  position: static;
}

.main-title-section-container {
  clear: both;
  float: left;
  margin: 0;
  padding: 75px 0 90px;
  width: 100%;
}

.main-title-section {
  width: 100%;
  max-width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-title-section h1 {
  font-size: clamp(1.75rem, 1.6rem + 0.75vw, 2.5rem);
  text-transform: capitalize;
  margin: 0 0 15px;
  word-break: break-all;
}

.breadcrumb {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 500;
  /* text-align: center; */
}

.breadcrumb a:not(:focus) {
  text-decoration: none;
}

.breadcrumb span:not(.current) {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

.breadcrumb .breadcrumb-default-delimiter:last-child {
  display: none;
}

.main-title-section-wrapper .breadcrumb-default-delimiter:before {
  content: "";
  background-color: currentColor;
  display: inline-block;
  height: 16px;
  opacity: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.main-title-section h1,
.breadcrumb {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.main-title-section-wrapper > .main-title-section-bg,
.main-title-section-wrapper > .main-title-section-bg:after {
  content: "";
  height: 100% !important;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  /* background: var(--wdtTertiaryColor); */
}

.home #header-wrapper .main-title-section-wrapper .main-title-section-container {
    display: none;
}


/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

.breadcrumb {
  color: var(--wdtAccentTxtColor);
}

.main-title-section h1 {
  color: var(--wdtAccentTxtColor);
}

.breadcrumb a {
  color: var(--wdtAccentTxtColor);
  background-image: linear-gradient(0deg, currentColor, currentColor);
  -webkit-transition: var(--wdtBaseTransition);
  transition: var(--wdtBaseTransition);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 1px;
}

/* .breadcrumb span.current {
  color: inherit;
  background-image: linear-gradient(0deg, currentColor, currentColor);
  -webkit-transition: var(--wdtBaseTransition);
  transition: var(--wdtBaseTransition);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 1px;
} */

.breadcrumb span.current

.main-title-section-wrapper.overlay-wrapper > .main-title-section-bg:after {
  opacity: 0.8!important;
}

.main-title-section-wrapper.overlay-wrapper > .main-title-section-bg:after
{
    background-color: var(--wdtTertiaryColor);
}

.main-title-section-wrapper.overlay-wrapper.dark-bg-breadcrumb > .main-title-section-bg:after
{
    background-color: var(--wdtHeadAltColor);
}

.main-title-section-wrapper > .main-title-section-bg:after {
  background-color: rgba(var(--wdtTertiaryColorRgb), 0.85);
}

.main-title-section-wrapper.dark-bg-breadcrumb > .main-title-section-bg {
  background-color: var(--wdtHeadAltColor);
}

.dark-bg-breadcrumb .main-title-section h1,
.dark-bg-breadcrumb .breadcrumb a,
.dark-bg-breadcrumb .breadcrumb span.current,
.dark-bg-breadcrumb .breadcrumb span:not(.current) {
  color: var(--wdtAccentTxtColor);
}

.breadcrumb a:hover,
.dark-bg-breadcrumb .breadcrumb a:hover {
  color: var(--wdtHeadAltColor);
}

/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

/* Primary Color */
.breadcrumb a:hover {
  background-size: 100% 1px;
  color: currentColor;
}

/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/

@media only screen and (min-width: 1281px) {
  .main-title-section-wrapper .main-title-section-container {
    padding: 90px 0 90px;
  }
}

@media only screen and (max-width: 1280px) {
  .main-title-section-wrapper .main-title-section-container {
    padding: 80px 0 80px;
  }
}

@media only screen and (max-width: 767px) {
  .main-title-section-wrapper .main-title-section-container {
    padding: 70px 0 70px;
  }
}

@media only screen and (min-width: 768px) {
  
  .main-title-section-wrapper.hide-content .main-title-section, .main-title-section-wrapper.hide-content .breadcrumb { display: none; }
  .main-title-section-wrapper.hide-content .main-title-section-container { min-height: 300px; }  

}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */

@media only screen and (max-width: 767px) {

  .main-title-section,
  .main-title-section h1,
  .breadcrumb {
    text-align: center;
  }
}

/* Common Styles for the devices below 479px width */

/* @media only screen and (max-width: 479px) {
  .main-title-section h1 {
    font-size: var(--wdtFontSize_H5);
  }
} */
